.conteiner {
	width: 100vw;
	height: 101vh;
	background-color: #BEBEBE;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.caixa-um {
	width: 90vw;
	height: 20vh;
	background-color: #556B2F;
	border-radius: 6vw 3vh;
}

.texto-um {
	color: #FFE1FF;
	font-size: 158%;
}

.caixa-dois {
	width: 90vw;
	height: 20vh;
	background-color: #FFA500;
	border-radius: 6vw 3vh;
}

.texto-dois {
	color: #FFE1FF;
	font-size: 142%;
}

.caixa-tres {
	width: 90vw;
	height: 20vh;
	background-color: #1E90FF;
	border-radius: 6vw 3vh;
}

.texto-tres {
	color: #FFE1FF;
	font-size: 116%;
}

.caixa-quatro {
	width: 90vw;
	height: 20vh;
	background-color: #FF3030;
	border-radius: 6vw 3vh;
}

.texto-quatro {
	color: #FFE1FF;
	font-size: 152%;
}


@media (min-width: 768px) {
	.conteiner {
		flex-wrap: wrap;
	}

	.caixa-um, .caixa-dois, .caixa-tres, .caixa-quatro  {
		width: 38vw;
		height: 40vh;
	}

	.texto-um {
		font-size: 230%;
	}

	.texto-dois {
		font-size: 210%;
	}

	.texto-tres {
		font-size: 175%;
	}

	.texto-quatro {
		font-size: 222%;
	}
}
